body{
  overflow-x: hidden;
  background-color: rgb(20,20,20);
  color: rgb(46, 255, 236);
  text-shadow: 0px 0px 4px rgb(0, 140, 255);
  font-family: 'Audiowide', cursive;
  font-size: 1.7em;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

#logo{
  width: 1vw;
  position: absolute;
  left: 49.5vw;
  transition: 1.2s;
  font-size: .001em;
  top: 40vh;
}

#logo.final{
  position: absolute;
    width: 20vw;
    height: auto;
    left: 40vw;
    top: 10vh;
    text-align: center;
    font-size: .8em;
    animation-timing-function: cubic-bezier(1, 0.01, 0, 0.99);
    -webkit-animation-name: Flashing;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: Flashing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#logo img{
  width: 100%;
}

@keyframes Flashing {
  0%{
    opacity: 75%;
    text-shadow: 0px 0px 3px rgb(0, 140, 255);
  }
  6.25%{
    opacity: 78%;
  }
  12.5%{
    opacity: 81.25%;
  }
  18.75%{
    opacity: 84.5%;
  }
  25%{
    opacity: 87.5%;
  }
  31.25%{
    opacity: 90.5%;
  }
  37.5%{
    opacity: 93.75%;
  }
  43.75%{
    opacity: 97.25%;
  }
  50%{
    opacity: 100%;
    text-shadow: 0px 0px 6px rgb(0, 160, 255);
  }
  56.25%{
    opacity: 97.25%;
  }
  62.5%{
    opacity: 93.75%;
  }
  69.75%{
    opacity: 90.5%;
  }
  75%{
    opacity: 87.5%;
  }
  81.25%{
    opacity: 84.5%;
  }
  87.5%{
    opacity: 81.25%;
  }
  93.75%{
    opacity: 78%;
  }
  100%{
    opacity: 75%;
    text-shadow: 0px 0px 3px rgb(0, 140, 255);
  }
}

.Loading-screen{
  width: 60px;
  margin-top: 48vh;
  margin-left: 48vw;
}
